{:assets 
{}
 :current-tab 0
 :file "teknokasettileipä.veneer"
 :manifest 
{:dependencies 
{"kronoslang/gadgets 0.1.1" 
{"main" true}
 "kronoslang/virtual-analog 0.2.1" 
{"main" true}}
 :description ""
 :license "https://www.eclipse.org/legal/epl-v10.html"
 :name "generative-techno"
 :version "0.1"}
 :tabs ("tabs/sound.initial.edn" "tabs/Snare.7khyn653umnvhc.edn" "tabs/BassLine.86evk37toikdal9.edn" "tabs/Overdrive.erb0ssdn1m99dgn.edn" "tabs/Kick.ce764668qqc8a5c.edn" "tabs/Stab-Pad.e9rc5ap8q4tnfrt.edn")}