{
 :identity "initial"
 :patch
{:cables
{["192f5039i8r60jh" 0] [:fixed "564edpwwl48b1qo" 0]
 ["192f5039i8r60jh" 1] [:fixed "4ik1ehc84tbgow9" 0]
 ["3nc13rqp5i7d9jx" 0] [:fixed "564edpwwl48b1qo" 0]
 ["3nc13rqp5i7d9jx" 1] [:fixed "da1rajtmsc1gizy" 0]
 ["50mj15xr53us77t" 0] [:fixed "j3eip6c4jhrbvhf" 0]
 ["50mj15xr53us77t" 1] [:fixed "n0r7t26ns88d8ys" 0]
 ["50mj15xr53us77t" 2] [:fixed "muz8nd10hoo121y" 0]
 ["50mj15xr53us77t" 3] [:fixed "566laldp5y2s9fh" 0]
 ["50mj15xr53us77t" 4] [:fixed "nprhl8vsy4sc3op" 0]
 ["566laldp5y2s9fh" 0] [:fixed "6xwr0vsenlcfd7f" 0]
 ["566laldp5y2s9fh" 1] [:fixed "osz1i9fxge6z444" 0]
 ["6if1o9usq2hgvaz" 0] [:fixed "smt2b42fv5t1aut" 0]
 ["6if1o9usq2hgvaz" 1] [:fixed "e5ddqcnfmyv79ye" 0]
 ["6xwr0vsenlcfd7f" 0] [:fixed "c3o52d2icbh9549" 0]
 ["83vmuabbylha6m4" 0] [:fixed "9qp8v319a4ae746" 0]
 ["83vmuabbylha6m4" 1] [:fixed "9qp8v319a4ae746" 0]
 ["83vmuabbylha6m4" 2] [:fixed "9qp8v319a4ae746" 0]
 ["8hjd269pf4xt3ha" 0] [:fixed "b159qbeg66thu77" 0]
 ["8hjd269pf4xt3ha" 1] [:fixed "8eqdzjthr2fr6dg" 0]
 ["8hjd269pf4xt3ha" 2] [:fixed "c3o52d2icbh9549" 0]
 ["8rdpp51y6ls99p1" 0] [:fixed "564edpwwl48b1qo" 0]
 ["8rdpp51y6ls99p1" 1] [:fixed "t3ye32cy8q83p8j" 0]
 ["b2vvjkw7fbq63b2" 0] [:fixed "564edpwwl48b1qo" 0]
 ["bf2udfatx1l23rt" 0] [:fixed "b2vvjkw7fbq63b2" 0]
 ["bf2udfatx1l23rt" 1] [:fixed "x162h1c12ak92nf" 0]
 ["c3o52d2icbh9549" 0] [:fixed "564edpwwl48b1qo" 0]
 ["fezaqdl619hkrkj" 0] [:fixed "50mj15xr53us77t" 0]
 ["fezaqdl619hkrkj" 1] [:fixed "83vmuabbylha6m4" 0]
 ["j3eip6c4jhrbvhf" 0] [:fixed "c3o52d2icbh9549" 0]
 ["j3eip6c4jhrbvhf" 1] [:fixed "3s4blsft67rfqyl" 0]
 ["j655xt0tskf822" 0] [:fixed "x8b4of1h8sje2i2" 0]
 ["kfhvtkvgx0uf86b" 0] [:fixed "6if1o9usq2hgvaz" 0]
 ["muz8nd10hoo121y" 0] [:fixed "c3o52d2icbh9549" 0]
 ["muz8nd10hoo121y" 1] [:fixed "3nc13rqp5i7d9jx" 0]
 ["muz8nd10hoo121y" 2] [:fixed "vlq2uy17byoy3lf" 0]
 ["n0r7t26ns88d8ys" 0] [:fixed "b159qbeg66thu77" 0]
 ["nprhl8vsy4sc3op" 0] [:fixed "sng5vq4p4qodx6e" 0]
 ["nprhl8vsy4sc3op" 1] [:fixed "osz1i9fxge6z444" 0]
 ["smt2b42fv5t1aut" 0] [:fixed "564edpwwl48b1qo" 0]
 ["smt2b42fv5t1aut" 1] [:fixed "bf2udfatx1l23rt" 0]
 ["sng5vq4p4qodx6e" 0] [:fixed "ujrazbmtp2t99wb" 0]
 ["sng5vq4p4qodx6e" 1] [:fixed "ujrazbmtp2t99wb" 0]
 ["sng5vq4p4qodx6e" 2] [:fixed "ujrazbmtp2t99wb" 0]
 ["sng5vq4p4qodx6e" 3] [:fixed "ujrazbmtp2t99wb" 0]
 ["sng5vq4p4qodx6e" 4] [:fixed "27trtggdbhxr1x" 0]
 ["txybpn1d2bgzcx7" 0] [:fixed "192f5039i8r60jh" 0]
 ["ujrazbmtp2t99wb" 0] [:fixed "c3o52d2icbh9549" 0]
 ["vlq2uy17byoy3lf" 0] [:fixed "8rdpp51y6ls99p1" 0]
 ["x8b4of1h8sje2i2" 0] [:fixed "txybpn1d2bgzcx7" 0]
 ["x8b4of1h8sje2i2" 1] [:fixed "kfhvtkvgx0uf86b" 0]
 ["x8b4of1h8sje2i2" 2] [:fixed "8hjd269pf4xt3ha" 0]
 ["x8b4of1h8sje2i2" 3] [:fixed "fezaqdl619hkrkj" 0]}
 :nodes
{"192f5039i8r60jh" 
{:color 3
 :ephemeral-inputs #{"pat"}
 :inputs ["bpm" "pat" "pat..."]
 :label "Gadgets:Artikulator($bpm $pat...)"
 :outputs [""]
 :parsed [:fn "Gadgets:Artikulator" [:tuple [:free-var "bpm"] [:free-var "pat"] [:free-var "pat..."]]]
 :pos [80 563]
 }
 "1lh4z9y2g1npd0k" 
{:color 3
 :inputs []
 :label "; # Generative Synth Pop #\n\n\nThis patch demonstrates using functions imported from other workspaces.\n\n\nThis one makes use of [kronoslang/virtual-analog](https://github.com/kronoslang/virtual-analog) and [kronoslang/gadgets](https://github.com/kronoslang/gadgets)\n\n\nYou can import stuff with `Cloud > Use Packages`"
 :outputs []
 :parsed [:comment "# Generative Synth Pop #\n\n\nThis patch demonstrates using functions imported from other workspaces.\n\n\nThis one makes use of [kronoslang/virtual-analog](https://github.com/kronoslang/virtual-analog) and [kronoslang/gadgets](https://github.com/kronoslang/gadgets)\n\n\nYou can import stuff with `Cloud > Use Packages`"]
 :pos [-206 -614]
 }
 "27trtggdbhxr1x" 
{:inputs []
 :label "2.7"
 :name "max resonance"
 :outputs [""]
 :parsed [:number-widget :float "-8t8rc0" "2.7066" ""]
 :pos [292 -172]
 }
 "3nc13rqp5i7d9jx" 
{:ephemeral-inputs #{"pat"}
 :inputs ["bpm" "pat" "pat..."]
 :label "Gadgets:Pattern-Seq($bpm $pat...)"
 :name ""
 :outputs [""]
 :parsed [:fn "Gadgets:Pattern-Seq" [:tuple [:free-var "bpm"] [:free-var "pat"] [:free-var "pat..."]]]
 :pos [-196 4]
 }
 "3o3cow3pqufi2wb" 
{:color 2
 :inputs []
 :label "; you can look at the synth voices by browsing through the tabs in this workspace."
 :outputs []
 :parsed [:comment "you can look at the synth voices by browsing through the tabs in this workspace."]
 :pos [-578 441]
 }
 "3s4blsft67rfqyl" 
{:inputs []
 :label "[0.3 0.3 0.6 0.2 0.1 1]"
 :name "bassline phrasing"
 :outputs [""]
 :parsed [:list [:float "0.3"] [:float "0.3"] [:float "0.6"] [:float "0.2"] [:float "0.1"] [:float "1"]]
 :pos [-365 105]
 :selected true}
 "4ik1ehc84tbgow9" 
{:color 3
 :inputs []
 :label "[0 1]"
 :outputs [""]
 :parsed [:list [:float "0"] [:float "1"]]
 :pos [-87 498]
 }
 "50mj15xr53us77t" 
{:inputs ["gate" "freq" "steps" "a" "res"]
 :label "BassLine"
 :outputs [""]
 :parsed [:fn "BassLine" [:tuple [:free-var "gate"] [:free-var "freq"] [:free-var "steps"] [:free-var "a"] [:free-var "res"]]]
 :pos [226 198]
 }
 "564edpwwl48b1qo" 
{:color 0
 :inputs []
 :label "120"
 :name "tempo"
 :outputs [""]
 :parsed [:number-widget :float "-e7y0mu" "118" ""]
 :pos [-700 -311]
 }
 "566laldp5y2s9fh" 
{:inputs ["sig" "rate"]
 :label "Control:Smooth($sig $rate)"
 :outputs [""]
 :parsed [:fn "Control:Smooth" [:tuple [:free-var "sig"] [:free-var "rate"]]]
 :pos [243 -43]
 }
 "6if1o9usq2hgvaz" 
{:color 2
 :ephemeral-inputs #{"pat"}
 :inputs ["bpm" "pat" "pat..."]
 :label "Gadgets:Artikulator($bpm $pat...)"
 :outputs [""]
 :parsed [:fn "Gadgets:Artikulator" [:tuple [:free-var "bpm"] [:free-var "pat"] [:free-var "pat..."]]]
 :pos [26 428]
 }
 "6xwr0vsenlcfd7f" 
{:inputs ["bpm"]
 :label "Gadgets:Random-Seq($bpm 1 80 800)"
 :name "bassline cutoff"
 :outputs [""]
 :parsed [:fn "Gadgets:Random-Seq" [:tuple [:free-var "bpm"] [:float "1"] [:number-widget :float "6tpr9e" "58" ""] [:number-widget :float "-xm12jt" "4157" ""]]]
 :pos [-12 -174]
 }
 "83vmuabbylha6m4" 
{:ephemeral-inputs #{"more"}
 :inputs ["a" "b" "more" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more"] [:free-var "more..."]]
 :pos [501 301]
 }
 "8eqdzjthr2fr6dg" 
{:color 4
 :inputs []
 :label "[-5 2 5 7 10 15]"
 :name "chord"
 :outputs [""]
 :parsed [:list [:float "-5"] [:float "2"] [:float "5"] [:float "7"] [:float "10"] [:float "15"]]
 :pos [106 328]
 }
 "8hjd269pf4xt3ha" 
{:color 4
 :inputs ["f0" "notes" "bpm"]
 :label "Stab-Pad($f0 $notes $bpm)"
 :outputs [""]
 :parsed [:fn "Stab-Pad" [:tuple [:free-var "f0"] [:free-var "notes"] [:free-var "bpm"]]]
 :pos [320 422]
 }
 "8rdpp51y6ls99p1" 
{:ephemeral-inputs #{"pat"}
 :inputs ["bpm" "pat" "pat..."]
 :label "Gadgets:Pattern-Seq($bpm $pat...)"
 :name ""
 :outputs [""]
 :parsed [:fn "Gadgets:Pattern-Seq" [:tuple [:free-var "bpm"] [:free-var "pat"] [:free-var "pat..."]]]
 :pos [-434 -157]
 }
 "9qp8v319a4ae746" 
{:inputs []
 :label "1 .o 4"
 :name "overdrive the bass!"
 :outputs [""]
 :parsed [:widget "p54j1j" 0.05999999999999994 {:type :dial, :skin :circular, :min [:float "1"], :max [:float "4"]}]
 :pos [402 222]
 }
 "b159qbeg66thu77" 
{:color 0
 :inputs []
 :label "440"
 :name "pitch"
 :outputs [""]
 :parsed [:number-widget :float "g4q77z" "440" ""]
 :pos [-590 -311]
 }
 "b2vvjkw7fbq63b2" 
{:color 2
 :inputs ["a"]
 :label "/ 2"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:float "2"]]
 :pos [-482 370]
 }
 "bf2udfatx1l23rt" 
{:cable-midpoints 
{}
 :color 2
 :ephemeral-inputs #{"pat"}
 :inputs ["bpm" "pat" "pat..."]
 :label "Gadgets:Pattern-Seq($bpm $pat...)"
 :outputs [""]
 :parsed [:fn "Gadgets:Pattern-Seq" [:tuple [:free-var "bpm"] [:free-var "pat"] [:free-var "pat..."]]]
 :pos [-326 370]
 }
 "c3o52d2icbh9549" 
{:color 0
 :inputs ["a"]
 :label "* 4"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:float "4"]]
 :pos [-497 -382]
 }
 "da1rajtmsc1gizy" 
{:inputs []
 :label "[2 2 2 2 2 2 3 3 4 4 4 4]"
 :name "seq for arpeggiator range"
 :outputs [""]
 :parsed [:list [:number-widget :float "-5e0zzp" "2" ""] [:float "2"] [:float "2"] [:float "2"] [:float "2"] [:float "2"] [:float "3"] [:float "3"] [:float "4"] [:float "4"] [:number-widget :float "-adz9p" "5" ""] [:number-widget :float "8l90al" "7" ""]]
 :pos [-615 -60]
 }
 "e5ddqcnfmyv79ye" 
{:color 2
 :inputs []
 :label "[1 0]"
 :outputs [""]
 :parsed [:list [:float "1"] [:float "0"]]
 :pos [-211 293]
 }
 "fezaqdl619hkrkj" 
{:inputs ["sig" "drive"]
 :label "Overdrive($sig $drive)"
 :outputs [""]
 :parsed [:fn "Overdrive" [:tuple [:free-var "sig"] [:free-var "drive"]]]
 :pos [496 365]
 }
 "j3eip6c4jhrbvhf" 
{:ephemeral-inputs #{"pat"}
 :inputs ["bpm" "pat" "pat..."]
 :label "Gadgets:Artikulator($bpm $pat...)"
 :outputs [""]
 :parsed [:fn "Gadgets:Artikulator" [:tuple [:free-var "bpm"] [:free-var "pat"] [:free-var "pat..."]]]
 :pos [-43 169]
 }
 "j655xt0tskf822" 
{:color 3
 :inputs ["sig"]
 :label "o))"
 :name "PLAY HERE!"
 :outputs ["thru"]
 :parsed [:playback [:free-var "sig"]]
 :pos [505 140]
 }
 "kfhvtkvgx0uf86b" 
{:color 2
 :inputs ["gate"]
 :label "Kick"
 :outputs [""]
 :parsed [:fn "Kick" [:tuple [:free-var "gate"]]]
 :pos [241 500]
 }
 "muz8nd10hoo121y" 
{:ephemeral-inputs #{"notes"}
 :inputs ["bpm" "octaves" "notes" "notes..."]
 :label "Gadgets:Arpeggiator($bpm $octaves $notes...)"
 :outputs [""]
 :parsed [:fn "Gadgets:Arpeggiator" [:tuple [:free-var "bpm"] [:free-var "octaves"] [:free-var "notes"] [:free-var "notes..."]]]
 :pos [32 53]
 }
 "n0r7t26ns88d8ys" 
{:inputs ["a"]
 :label "/ 16"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:float "16"]]
 :pos [80 108]
 }
 "nprhl8vsy4sc3op" 
{:inputs ["sig" "rate"]
 :label "Control:Smooth($sig $rate)"
 :outputs [""]
 :parsed [:fn "Control:Smooth" [:tuple [:free-var "sig"] [:free-var "rate"]]]
 :pos [555 -20]
 }
 "osz1i9fxge6z444" 
{:inputs []
 :label "10"
 :name "bassline filter speed"
 :outputs [""]
 :parsed [:number-widget :float "rrgg0n" "19" ""]
 :pos [285 -291]
 }
 "smt2b42fv5t1aut" 
{:color 2
 :inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [-117 427]
 }
 "sng5vq4p4qodx6e" 
{:ephemeral-inputs #{"more" "more2" "more3"}
 :inputs ["a" "b" "more" "more2" "more3" "more..."]
 :label "*"
 :name "resonance distribution"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more"] [:free-var "more2"] [:free-var "more3"] [:free-var "more..."]]
 :pos [405 -74]
 }
 "t3ye32cy8q83p8j" 
{:inputs []
 :label "[5 9 8 2 10]"
 :name "vary some notes in the arp pattern"
 :outputs [""]
 :parsed [:list [:float "5"] [:float "9"] [:number-widget :float "-ahnlgb" "3" ""] [:float "2"] [:float "10"]]
 :pos [-680 -211]
 }
 "txybpn1d2bgzcx7" 
{:color 3
 :inputs ["gate"]
 :label "Snare"
 :outputs [""]
 :parsed [:fn "Snare" [:tuple [:free-var "gate"]]]
 :pos [241 565]
 }
 "ujrazbmtp2t99wb" 
{:inputs ["bpm"]
 :label "Gadgets:Random-Seq($bpm 2 0 4)"
 :name "bassline pwm and resonance"
 :outputs [""]
 :parsed [:fn "Gadgets:Random-Seq" [:tuple [:free-var "bpm"] [:float "2"] [:float "0"] [:number-widget :float "-b4ko64" "1" ""]]]
 :pos [-7 -258]
 }
 "vlq2uy17byoy3lf" 
{:inputs ["x"]
 :label "[0 3 5 $x 7 10 $x + 12 12]"
 :name "arpeggio"
 :outputs [""]
 :parsed [:list [:float "0"] [:float "3"] [:float "5"] [:free-var "x"] [:float "7"] [:float "10"] [:infix [:free-var "x"] "+" [:float "12"]] [:float "12"]]
 :pos [-79 -86]
 }
 "x162h1c12ak92nf" 
{:color 2
 :inputs []
 :label "[2 2 2 2 2 2 2 2 2 2 2 2 1 1 4 6]"
 :name "kickdrum subdivisions"
 :outputs [""]
 :parsed [:list [:float "2"] [:float "2"] [:float "2"] [:float "2"] [:float "2"] [:float "2"] [:float "2"] [:number-widget :float "xpn4q9" "2" ""] [:number-widget :float "kmf4nv" "2" ""] [:float "2"] [:float "2"] [:float "2"] [:float "1"] [:float "1"] [:float "4"] [:number-widget :float "lhaj4z" "6" ""]]
 :pos [-672 256]
 }
 "x8b4of1h8sje2i2" 
{:color 0
 :ephemeral-inputs #{"numbers4" "numbers2" "numbers" "numbers3"}
 :inputs ["numbers4" "numbers2" "numbers" "numbers3" "numbers..."]
 :label "Average($numbers...)"
 :name "mix"
 :outputs [""]
 :parsed [:fn "Average" [:tuple [:free-var "numbers4"] [:free-var "numbers2"] [:free-var "numbers"] [:free-var "numbers3"] [:free-var "numbers..."]]]
 :pos [475 561]
 }}
 :scale 0.8174794837052244
 :scroll [0 0]}}