{:identifier "Overdrive"
 :identity "erb0ssdn1m99dgn"
 :patch
{:cables
{["9i1ka2b6ccs21r" 0] [:fixed "w3ib84zf67yj6v0" 0]
 ["9i1ka2b6ccs21r" 1] [:fixed "7ufk8e3b6wpib27" 0]
 ["9i1ka2b6ccs21r" 2] [:fixed "pj3a0aai9bz0n78" 0]
 ["vxwdio4oykxe9ew" 0] [:fixed "j46dwwfj36c7ji" 0]
 ["w3ib84zf67yj6v0" 0] [:fixed "vxwdio4oykxe9ew" 0]}
 :nodes
{"7ufk8e3b6wpib27" 
{:inputs []
 :label "500"
 :outputs [""]
 :parsed [:number-widget :float "bw3czr" "302" ""]
 :pos [14 -13]
 }
 "9i1ka2b6ccs21r" 
{:inputs ["sig" "freq" "bw"]
 :label "Filter:Resonator($sig $freq $bw)"
 :outputs [""]
 :parsed [:fn "Filter:Resonator" [:tuple [:free-var "sig"] [:free-var "freq"] [:free-var "bw"]]]
 :pos [146 43]
 }
 "j46dwwfj36c7ji" 
{:eval :destructure
 :inputs []
 :label "(a) = arg"
 :outputs ["a"]
 :parsed "arg"
 :pos [-284 -102]
 }
 "pj3a0aai9bz0n78" 
{:inputs []
 :label "900"
 :outputs [""]
 :parsed [:number-widget :float "73x7o2" "6035" ""]
 :pos [89 -65]
 }
 "vxwdio4oykxe9ew" 
{:cable-midpoints 
{}
 :inputs ["a"]
 :label "* 16"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:number-widget :float "-d94off" "6" ""]]
 :pos [-143 43]
 }
 "w3ib84zf67yj6v0" 
{:inputs ["w"]
 :label "Approx:Tanh($w)"
 :outputs [""]
 :parsed [:fn "Approx:Tanh" [:tuple [:free-var "w"]]]
 :pos [2 43]
 }}}}